REDIS_HOST=stringkey
REDIS_PORT=integerkey
REDIS_DB=integerkey
REDIS_PASSWORD=stringkey

MONITOR_QUEUES=stringkey,stringkey,stringkey
MONITOR_STREAMS=stringkey,stringkey,stringkey

LISTEN_ADDR=stringkey